Uke_03_QObject_Macro_signals_slots/inotes.md
Uke_04_Samling_1/inotes.md
Uke_03_QObject_Macro_signals_slots/build-QObect-Desktop_Qt_6_4_1_MSVC2019_64bit-Debug/
Uke_05_Views_settings/inotes.md
Uke_05_Views_settings/inotesSettings.md
Uke_05_Views_settings/build-Uke_5_view_settings-Desktop_Qt_6_4_1_MSVC2019_64bit-Debug/
Uke_06_File_system/build-SkriveTilFiler-Desktop_Qt_6_4_1_MSVC2019_64bit-Debug/
Uke_13_QMainWindow/build-mainWindow-Desktop_Qt_6_4_2_MSVC2019_64bit-Debug/