Uke_03_QObject_Macro_signals_slots/inotes.md
Uke_04_Samling_1/inotes.md
C:\Users\Shahin Ostadahmadi\OneDrive - USN\Fagskolen i Viken\Qt_6_Fagskolen_2023\Uke_03_QObject_Macro_signals_slots\build-QObect-Desktop_Qt_6_4_1_MSVC2019_64bit-Debug/
C:\Users\Shahin Ostadahmadi\OneDrive - USN\Fagskolen i Viken\Qt_6_Fagskolen_2023\Uke_03_QObject_Macro_signals_slots\build-Uke_3-Desktop_Qt_6_4_1_MSVC2019_64bit-Debug/